body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

P {
    margin: 0 0 10px;
}

/* Container  ###########*/

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header ###########*/

.header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;

}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0;
    border-bottom: 1px solid #515369;
}

/* Nav ###########*/

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    margin-left: 50px;
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity .1s linear;
}

.nav_link:first-child {
    margin-left: 0;
}

.nav_link:hover {
    opacity: 1;
}

/* Intro ###########*/

.intro {
    display: flex;
    flex-direction: column;
    height: 750px;
    justify-content: center;
    padding-top: 100px;
    background: #313550 url("../img/intro-bg.jpg") center;
    background-size: cover;
}

.intro_inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro_title {

    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #FFF;
    font-weight: 700;
    line-height: 1.1;
    margin: 0 0 30px;
    text-transform: uppercase;
}

.intro_subtitle {
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}

/* Button ###########*/
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px;
    border-radius: 2px;
    font-family: 'Raleway', sans-serif;
    border: 0;
    cursor: pointer;
    font-size: 13px;
    color: #FFF;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
}

.btn-red {
    background-color: #e84545;
}

.btn-red:hover {
    background-color: #bb1a1a;
}

.btn-long {
    min-width: 280px;
}

/* Features ###########*/

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 95px 0;
}

.features_item {
    width: 33.33333%;
    text-align: center;
    padding: 0 35px;
    margin: 25px 0;
}

.features_icon {
    margin-bottom: 20px;
}

.features_title {
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features_text {
    font-size: 14px;
    line-height: 1.5;
    color: #6c7279;
}

/*Works*/
.works {
    display: flex;
    flex-wrap: wrap;
}

.works_item {
    width: 25%;
    height: 350px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    position: relative;
    overflow: hidden;
}

.works_item:hover .works_content {
    opacity: 1;
}

.works_photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);

}

.works_content {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(232, 69, 69, 0.9);
    opacity: 0;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .2s linear;

}

.works_title {
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.works_text {
    font-size: 14px;
    color: #fff;
}

/*team*/
.team {
    margin: 100px 0 70px;
}

.team_inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team_item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_photo {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.team_name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 8px;
}

.team_prof {
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.team_text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 20px;

}

.social {
    display: flex;
}

.social-footer {
    justify-content: center;

}

.social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    background-color: #fff;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    transition: background-color .1s linear;
}

.social_item:hover {
    background-color: #e8ecee;
}

.social_item:hover .social_icon {
    fill: #e84545;

}

.social-footer .social_item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social-footer .social_item:hover {
    background-color: #fff;
}

.social-footer .social_icon {
    fill: #fff;
}

.social_icon {
    display: block;
    height: 18px;
    fill: #c6cacc;
    cursor: pointer;
    transition: fill .1s linear;
}

.reviews {
    background-color: #53354a;
    overflow: hidden;

}

.reviews_item {
    display: flex;
    flex-wrap: wrap;
}

.reviews_photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews_content {
    display: flex;
    width: 50%;
    height: 500px;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.reviews_text {
    font-size: 36px;
    font-family: 'Cardo', sans-serif;
    font-style: italic;
    line-height: 1.2;
    color: #fff;
    margin-bottom: 25px;
}

.reviews_author {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.download {
    margin: 90px 0;
    text-align: center;
}

.download_title {
    font-size: 28px;
    color: #2d3033;
    font-weight: 300;
    margin-bottom: 10px;
}

.download_text {
    font-size: 13px;
    color: #2d3033;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.footer {

    background: #3a3e64;
}

.footer_inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer_block {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer_title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer_address {
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

.footer_text {
    font-size: 14px;
    font-style: normal;
    line-height: 1.5;
    color: rgba(255, 255, 255, .5);
}

.copyright {
    background-color: #313454;
    padding: 20px 0;
}

.copyright_text {
    text-align: center;
    color: #808080;
    font-size: 14px;
    line-height: 1.5;
}

.copyright_text span {
    color: #fff;
}
